.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    

}

.homeContainer{
    background: #cf1c15;
    padding:25px;
    color:white;
    font-weight: 500;
    border-radius: 20px;
    width:50%;
    height:300px;
    font-size: larger;
}
.larger{
    font-size: x-large;
}

.largeHeader{
    font-size: xx-large;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 10px;
}