.comicSearch{
    height:27px;
    margin-left: 20px;
}

.reviewF{
    font-weight: lighter;
}

.searchAuthor{
    margin-left: 20px;
}

.communityContainer{
    margin-left: 60px;
}
.comicSearchTop{
    margin-bottom: 40px;
}