.library{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:80vw;
}

.comic{
    background: rgb(201, 6, 6);
    height:340px;
    width:28%;
    margin: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid black;
    font-weight: 600;
    font-size: larger;
}

.comicC{
    background: rgb(201, 6, 6);
    height:340px;
    width:28%;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid black;
}

.comicTop{
    color:white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: larger;
}


.comicContainer{
    display: flex;
    flex-wrap: wrap;
    
}

.image{
    height:240px;
}



.button{
    background-color: rgb(201, 6, 6);
    color:white;
    font-weight: 600;
    font-size: larger;
}

.buttonW{
    background-color: white;
    color:black;
    font-weight: 600;
    font-size: larger;
    margin-right: 10px;
}

.buttonR{
    background-color: rgb(201, 6, 6);
    color:white;
    font-weight: 600;
    font-size: larger;
    margin-top:7px
}


.era{
    display: flex;
}

.eraForm{
    margin-right: 25px;
}

.newComicContainer{
    background: rgb(201, 6, 6);
    padding:25px;
    color:white;
    font-weight: 500;
    border-radius: 20px;
    border: 5px solid black;
}

.readHeader{
    margin-top:40px;
    margin-bottom: 10px;
}

.titleLink{
    color:white;
    position: relative;
    text-decoration: none;
}

.titleLink:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.titleLink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }


 

  textarea {
    width:100%;
    height: 300px;
    resize: none;
    
  }

  .comicCoverA{
    height:300px;
  }

  .reviewS{
    font-size: larger;
  }