.library{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:80vw;
}

.comic{
    background: rgb(201, 6, 6);
    height:340px;
    width:28%;
    margin: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid black;
    font-weight: 600;
    font-size: larger;
}

.comicC{
    background: rgb(201, 6, 6);
    height:340px;
    width:28%;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid black;
}

.comicTop{
    color:white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: larger;
}


.comicContainer{
    display: flex;
    flex-wrap: wrap;
    
}

.image{
    height:240px;
}



.button{
    background-color: rgb(201, 6, 6);
    color:white;
    font-weight: 600;
    font-size: larger;
}

.buttonW{
    background-color: white;
    color:black;
    font-weight: 600;
    font-size: larger;
}

.buttonR{
    background-color: rgb(201, 6, 6);
    color:white;
    font-weight: 600;
    font-size: larger;
    margin-top:7px
}

.era{
    display: flex;
}

.eraForm{
    margin-right: 25px;
}

.newComicContainer{
    background: rgb(201, 6, 6);
    padding:25px;
    color:white;
    font-weight: 500;
    border-radius: 20px;
    border: 5px solid black;
}