.library{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:80vw;
    
}
.addFifty{
  margin: 50px;
}
.libContainer{
    margin-left: 60px;
}
.comic{
    background: #cf1c15;
    height:440px;
    width: 291px;
    margin: 30px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: larger;
}

.comicC{
    background:#cf1c15;
    height:340px;
    width:28%;
    margin: 20px;
    border-radius: 20px;
    
}

.comicTop{
    color:white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: larger;
}


.comicContainer{
    display: flex;
    flex-wrap: wrap;
    
}

.image{
    height:240px;
}

.imageBackground{
    height:340px;
    filter: blur(1px);
  -webkit-filter: blur(3px);
  position: relative;
}


.button{
    background-color:#cf1c15;
    color:white;
    font-weight: 600;
    font-size: larger;
}

.buttonW{
    background-color: white;
    color:black;
    font-weight: 600;
    font-size: larger;
    margin-right: 10px;
}

.buttonR{
    background-color:#cf1c15;
    color:white;
    font-weight: 600;
    font-size: larger;
    margin-top:7px
}
.buttonReview{
    background-color:#cf1c15;
    color:white;
    font-weight: 600;
    font-size: larger;
    margin-left:8px;
    margin-top:7px;
    margin-bottom:10px
}


.era{
    display: flex;
}

.eraForm{
    margin-right: 25px;
}

.newComicContainer{
    background: #cf1c15;
    padding:25px;
    color:white;
    font-weight: 500;
    border-radius: 20px;
    
}

.readHeader{
    margin-top:40px;
    margin-bottom: 10px;
}


 

  textarea {
    width:100%;
    height: 300px;
    resize: none;
    
  }

  .comicCoverA{
    height:300px;
  }

  .reviewS{
    font-size: larger;
  }

  .favoriteC{
    margin-left:60px ;
  }

  .imageNew{
    height:440px;
    width:291px
    
}
.imageNewNot{
  height:440px;
  width:291px
  
}
.imageNew:hover{
    height:440px;
    width:291px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.comicNewC{
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
    width:291px;
     height:570px;
     margin-left:30px;
     
}

.comicLeft{
    width:75%;
    color:black
}

.small{
    font-size: small;
    color:rgb(93, 92, 92)
    
}

.titleLinkNew{
    color:black;
    text-decoration: none;
    
}

.titleLinkNew:hover{
  text-shadow: -.25px -.25px 0 black, 
                .25px .25px black;

}
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #cf1c15 0, #cf1c15 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
 
}

.button-29:focus {
  box-shadow: #cf1c15 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #cf1c15 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #cf1c15 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #cf1c15 0 3px 7px inset;
  transform: translateY(2px);
}
.button-28 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #ffffff 0, #ffffff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .button-28:focus {
    box-shadow:  #ffffff 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px,  #ffffff 0 -3px 0 inset;
  }
  
  .button-28:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: #ffffff 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  .button-30 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #cf1c15 0, #cf1c15 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-top: 20px;
   
  }
  
  .button-30:focus {
    box-shadow: #cf1c15 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #cf1c15 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #cf1c15 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #cf1c15 0 3px 7px inset;
    transform: translateY(2px);
  }
  .libHead{
    margin-bottom:30px;
  }

 
  