.navbar {
    display: flex;
    background:#cf1c15;
    height:80px;
    align-items: center;
}


.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.logo{
    height:40px
}

.navbarS{
    list-style-type: none;
}