.body{
  margin: 50px;
}

.navbar {
    display: flex;
    background: #cf1c15;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    height:90px
    
   
}

h1{
    font-weight: 400;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link{
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-image: linear-gradient(
    to right,
   white,
    white 50%,
  white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.navbar__link:before{
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  .navbar__link:hover {
    background-position: 0;
   }

  .navbar__link:hover::before{
    width: 100%;
  }

  .log{
    margin-left: 100px;
  }

  .logoF{
    height:90px;
    
  }

  .navStart{
    
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    
  }
  .spaceHead{
    margin-left:90px
  }