.navbar {
    display: flex;
   
    justify-content: flex-start;
   
}


.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.logo{
    height:60px
}

.navbarS{
    list-style-type: none;
}

.navbarB{
    height:80px;
    width:200px;
    background:#cf1c15;
    color:black;
    font-weight: 900;
}